
.swiper {
  width: auto;
  height: auto;
  position: relative;
  /* left: 50%;
  top: 50%; */
  
margin: auto;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  
  background: #058a94;
}